
  <div class="container-fluid align-items-center form-signin ">
    <div class="d-flex justify-content-between ">
      <img class="mb-3" src="../assets/img/Fcit.jpg" alt="fcit logo" width="80" height="80">
      <img class="mb-3 " src="../assets/img/super_white_bg2.png" alt="Super logo" width="145" height="80">

    </div>
    <h4 class="text-center">Login</h4>
    <form class="mx-auto" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3 mt-5">
        <label for="idInput" class="form-label">User ID</label>
        <input type="text" pattern="[0-9]*" class="form-control" id="idInput" aria-describedby="emailHelp" formControlName="userId">

      <!-- Error Messages for User ID -->
      <div *ngIf="userId?.errors && (userId?.dirty || userId?.touched)">
        <small *ngIf="userId?.errors?.['required']" class="text-danger">User ID is required.</small>
<small *ngIf="userId?.errors?.['pattern']" class="text-danger">User ID should be numbers only.</small>

      </div>
      

              </div>
      <div class="mb-3">
        <label for="passwordInput" class="form-label">Password</label>
        <input type="password" class="form-control" id="passwordInput" formControlName="password">
        <a href="./ResetPass.html" class="form-text mt-3 text-decoration-none">Forget Password?</a>
      </div>

      <button type="submit" class="btn btn-primary mt-4">Login</button>
    </form>


  </div>


